
[submodule "dreamdrone-page"]
	path = dreamdrone-page
	url = https://github.com/HyoKong/dreamdrone-page.git
[submodule "worldwarp-page"]
	path = worldwarp-page
	url = https://github.com/HyoKong/worldwarp-page.git
